/.DS_Store
/.git
/.gitignore
/.RData
/.Renviron
/.Rhistory
/.Rproj.user/
/.Ruserdata
/_*/
/justfile
/LOG*
/src/*.a
/src/*.dll
/src/*.dylib
/src/*.o
/src/*.so
/src/.DS_Store
/src/rust/.Cargo
/src/rust/.cargo
/src/rust/.Cargo.lock
/src/rust/.DS_Store
/src/rust/.idea/
/src/rust/_*
/src/rust/ERR*
/src/rust/justfile
/src/rust/target/
